<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Home 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <h3 *ngIf="tarefas.length == 0" text-center>Você ainda não possui nenhuma tarefa cadastrada</h3>

  <ion-list>
    <ion-item-sliding *ngFor="let tarefa of tarefas">
      <!-- INFORMAÇÕES -->
      <ion-item>
        <ion-label>{{ tarefa.descricao }}</ion-label>
        <p>{{ tarefa.data }}</p>
      </ion-item>

      <!-- OPÇÕES -->
      <ion-item-options side="end">
        <ion-item-option (click)="editar(tarefa)" color="secondary">Editar</ion-item-option>
        <ion-item-option color="danger" (click)="excluir(tarefa)">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
